.tabletop {
  position: relative;
  margin: 40px auto;

  width: 640px;
  height: 480px;
  background: green;

  overflow: hidden;
}

.board {
  table {
    border-spacing: 0;
    border-collapse: collapse;
  }
  td {
    width: 50px;
    height: 50px;
  }

  tr {
    td {
      background: #000000;
      &:nth-child(odd) {
        background: #ffffff;
      }
    }
  }
  tr:nth-child(even) {
    td {
      background: #ffffff;
      &:nth-child(odd) {
        background: #000000;
      }
    }
  }
}

.damsteen {
  position: absolute;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  float: left;

  border: 2px solid;
  border-radius: 50%;
  box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.75);

  text-align: center;
  line-height: 42px;
  font-size: 40px;

  &.wit {
    background: #ffffff;
    border-color: #000000;
  }
  &.zwart {
    background: #000000;
    border-color: #ffffff;
    color: white;
  }
  &.gestapeld .damsteen {
    margin-left: -2px;
    margin-top: -6px;
    top: 0;
    left: 0;
  }
}

.draggable {
  cursor: move;
  transition: linear 200ms;
}

.ui-draggable {
  transition: none;
}
